*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body, #root{
    width: 100%;
    height: 100%;
    background-color: #00000097;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root{
   padding-left: 4px;
   padding-top: 4px;
}